@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Dosis';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #c2f2ff; */
}

code {
  font-family: 'Dosis';
}
